<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aliyun.tablestore.examples.dao.user.AutomobileMapper">

  <insert id="batchInsertHis" parameterType="List">
        insert into his_auto_mobile(car_ID, car_md5ID, car_timestamp, mileage, oil,
        inner_temperature, outer_temperature, velocity, typepressure,
        location, time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.carId},#{item.carMd5},#{item.carTimestamp},#{item.mileage},
            #{item.oil},#{item.temperatureIn},#{item.temperatureOut},#{item.velocity},
            #{item.tyrePressure},#{item.location},#{item.time})
        </foreach>
    </insert>


    <insert id="insert" parameterType="com.aliyun.tablestore.examples.bean.Automobile.AutomobileBean">
        insert into auto_mobile(car_ID, car_md5ID, mileage, oil,
        inner_temperature, outer_temperature, velocity, typepressure,
        location, time)
        values
        (#{item.carId},#{item.carMd5},#{item.mileage},
        #{item.oil},#{item.temperatureIn},#{item.temperatureOut},#{item.velocity},
        #{item.tyrePressure},#{item.location},#{item.time})
        ON DUPLICATE KEY UPDATE
        car_md5ID = values(car_md5ID),
        mileage = values(mileage),
        oil = values(oil),
        inner_temperature = values(inner_temperature),
        outer_temperature = values(outer_temperature),
        velocity = values(velocity),
        typepressure = values(typepressure),
        location = values(location),
        time = values(time)
    </insert>


    <insert id="createTableIfNotExitsAutoMobile">
       CREATE TABLE IF NOT EXISTS `auto_mobile`(
         `car_ID` varchar(20) NOT NULL,
         `car_md5ID` varchar(200) DEFAULT NULL,
         `mileage` bigint(20) DEFAULT NULL,
         `oil` double DEFAULT NULL,
         `inner_temperature` double DEFAULT NULL,
         `outer_temperature` double DEFAULT NULL,
         `velocity` double DEFAULT NULL,
         `typepressure` double DEFAULT NULL,
         `location` varchar(200) DEFAULT NULL,
         `time` bigint(20) DEFAULT NULL,
         PRIMARY KEY (`car_ID`)
       ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 AVG_ROW_LENGTH=963;
    </insert>
     <insert id="createTableIfNotExitsHisAutoMobile">
       CREATE TABLE IF NOT EXISTS `his_auto_mobile` (
         `id` bigint(20) NOT NULL AUTO_INCREMENT,
         `car_ID` varchar(200) NOT NULL,
         `car_md5ID` varchar(200) DEFAULT NULL,
         `car_timestamp` bigint(20) NOT NULL,
         `mileage` bigint(20) DEFAULT NULL,
         `oil` double DEFAULT NULL,
         `inner_temperature` double DEFAULT NULL,
         `outer_temperature` double DEFAULT NULL,
         `velocity` double DEFAULT NULL,
         `typepressure` double DEFAULT NULL,
         `location` varchar(200) DEFAULT NULL,
         `time` bigint(20) DEFAULT NULL,
         PRIMARY KEY (`id`)
       ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4;
    </insert>


</mapper>
